<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dinner.dao.FinanceMapper" >
  <resultMap id="BaseResultMap" type="com.dinner.model.Finance" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="DATE" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id,location,phone,date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from rental
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.dinner.model.Finance" >
    insert into rental (location, phone,
      date)
    values (#{location,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR}, #{date,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dinner.model.Finance" >
    insert into rental
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="location != null" >
        location,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="date != null" >
        date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="phone!= null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dinner.model.Finance" >
    update rental
    <set >
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dinner.model.Finance" >
    update rental
    set location = #{location,jdbcType=VARCHAR},
           phone = #{phone,jdbcType=VARCHAR}
      date = #{date,jdbcType=DATE},
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByDateDesc" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rental
    where date &gt;= #{startTime,jdbcType=DATE} AND date &lt;= #{endTime,jdbcType=DATE}
    order by date desc limit #{pager.offset},#{pager.limit}  ;
  </select>
  <select id="countByDateDesc" resultType="java.lang.Integer">
    select count(*)
    from rental
    where date &gt;= #{startTime,jdbcType=DATE} AND date &lt;= #{endTime,jdbcType=DATE}
  </select>

</mapper>
