<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dinner.dao.LoginMapper" >
  <resultMap id="BaseResultMap" type="com.dinner.model.Login" >
    <id column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    phone, name, sex, birthday, address, password
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from login
    where phone = #{phone,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from login
    where phone = #{phone,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dinner.model.Login" >
    insert into login (phone, name, sex,
      birthday, address, password
      )
    values (#{phone,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR},
      #{birthday,jdbcType=DATE}, #{address,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dinner.model.Login" >
    insert into login
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="phone != null" >
        phone,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="password != null" >
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dinner.model.Login" >
    update login
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where phone = #{phone,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dinner.model.Login" >
    update login
    set name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      address = #{address,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where phone = #{phone,jdbcType=VARCHAR}
  </update>
  <select id="countloginsByKeys" parameterType="com.dinner.model.Login" resultType="java.lang.Integer">
    select count(*)
    from login where 1 = 1
    <if test="phone != null">
      and login.phone like '%${phone}%'
    </if>
    <if test="name != null">
      and login.name like '%${name}%'
    </if>
    <if test="sex != null">
      and login.sex = #{sex}
    </if>
    <if test="address != null">
      and login.address like '%${address}%'
    </if>
     </select>
  <select id="filter" parameterType="com.dinner.model.Login" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from login where 1 = 1
    <if test="login.phone != null">
      and login.phone like '%${login.phone}%'
    </if>
    <if test="login.name != null">
      and login.name like '%${login.name}%'
    </if>
    <if test="login.sex != null">
      and login.sex = #{login.sex}
    </if>
    <if test="login.address != null">
      and login.address like '%${login.address}%'
    </if>
    <if test="pager.offset!=null and pager.limit!=null">
      limit #{pager.offset},#{pager.limit};
    </if>
  </select>
</mapper>
